@charset "utf-8";

html {
	overflow-x: hidden;
}

/* ---------------------------------------------------------------------------------------- 
	CMS layout
---------------------------------------------------------------------------------------- */
.left  {float: left;}
.right {float: right;}
.textC {text-align: center;}
.textR {text-align: right;}
.box   {margin: 0 0 15px;}
img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 100%;
}


/* ---------------------------------------------------------------------------------------- 
	table
---------------------------------------------------------------------------------------- */
table {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: 0 0 15px;
}
table th{
	padding:10px;
	background:#eee;
	vertical-align:top;
	border:1px solid #ccc;
	
	background: #1e4ba5;
    background: -moz-linear-gradient(bottom, #0078c0 0%, #1e4ba5 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(#0078c0), to(#1e4ba5));
    background: -webkit-linear-gradient(bottom, #0078c0 0%, #1e4ba5 100%);
    background: -o-linear-gradient(bottom, #0078c0 0%, #1e4ba5 100%);
    background: linear-gradient(to top, #0078c0 0%, #1e4ba5 100%);
    color: #fff;
}
table td{
	padding:10px;
	border:1px solid #ccc;
}


/* ---------------------------------------------------------------------------------------- 
	list
---------------------------------------------------------------------------------------- */
ul {
	padding-left: 20px;
}


/* ---------------------------------------------------------------------------------------- 
	form
---------------------------------------------------------------------------------------- */

/* .form-control */
.parts_other_bupageTopBox a,
.parts_other_buPrintBox a,
.returnBu a,
a.returnBu,
.cartPartsLook a,
.clearBu input,
.agreeNoBu input,
.agreeYesBu input,
.noAgreeYesBu input,
.pageLinkBox a,
input.formRegisterBu,
#wrapper input:not([type]),
#wrapper input[type="button"],
#wrapper input[type="submit"],
.pageMore a,
input.btn.btn-primary,
div.buLogout a {
  padding: 10px 15px;
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.6;
  background-image: none;
  border: none;
  border-radius: 4px;
  display: inline-block;
}
.returnBu a:focus,
a.returnBu:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

#wrapper select,
#wrapper textarea,
#wrapper input[type="text"],
#wrapper input[type="email"],
#wrapper input[type="password"] {
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 3px;
	/*
	box-shadow:0px 0px 6px -3px #cecece inset;
	-moz-box-shadow:0px 0px 6px -3px #cecece inset;
	-webkit-box-shadow:0px 0px 6px -3px #cecece inset;
	*/
}

.parts_other_bupageTopBox a:hover,
.parts_other_buPrintBox a:hover,
.returnBu a:hover,
a.returnBu:hover,
.cartPartsLook a:hover{
	text-decoration:none;
}

input[disabled],
button[disabled],
input[readonly],
button[readonly],
fieldset[disabled] input,
fieldset[disabled] button {
  background-color: #eee;
  opacity: 1;
}
input[disabled],
button[disabled],
fieldset[disabled] input,
fieldset[disabled] button {
  cursor: not-allowed;
}

/* サイズ調整 */
input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 100%;
}

/* button */
#mailform_form .pageLinkBox ul{
	list-style-type: none;
}
#mailform_form .pageLinkBox ul li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

/* file */
#mailForm input[type="file"] {
    padding: 12px 12px 12px 0px;
}

/* label */
#mailForm label {
    padding: 12px 12px 12px 0px;
}

/* チェックボックス/ラジオボタン */
#mailForm label .checkbox,
#mailForm label .radio {
	display: inline;
}

/* ドロップダウン */
select {
	height: 34px;
	max-width: 100%;
}

/* タブレット */
@media (min-width: 768px) and (max-width: 991px) {
	.column2 #side select {
		max-width: 233px;
	}
}

/* PC */
@media (min-width: 992px) and (max-width: 1199px) {
	.column2 #side select {
		max-width: 241px;
	}
}

/* PC（ワイド） */
@media (min-width: 1200px) {
	.column2 #side select {
		max-width: 210px;
	}
}


/* formパーツ - 郵便番号・電話番号 */
input.ant2api-zip,
input.ant2api-pref,
input[name=user_zip1],
input[name=user_zip2],
input[name=user_tel1],
input[name=user_tel2],
input[name=user_tel3],
input[name=user_fax1],
input[name=user_fax2],
input[name=user_fax3],
input[name=user_mobile1],
input[name=user_mobile2],
input[name=user_mobile3] {
  width: auto;
}

/* formパーツ - HTML */
#mailForm p,
#mailform_form p {
	margin: 10px 5px;
}

/* form - エラーメッセージ */
.errorMessage,
form table th strong {
	color: #ff0000;
}


@media (min-width: 768px) {
	.blogCommentPostBox table th,
	#mailform_form table th,
	form table th {
		width: 20%;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 0px;
	}
	.blogCommentPostBox table td,
	#mailform_form table td,
	form table td {
		width: 80%;
		border-top: 0px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-left: 0px;
	}
}
@media (max-width: 767px) {
	.blogCommentPostBox table th,
	#mailform_form table th,
	form table th {
		width: 100%;
		display: block;
		white-space: normal;
		//border-top: 1px solid #ccc;
		//border-bottom: 0px;
		//border-left: 1px solid #ccc;
		//border-right: 1px solid #ccc;
		border: none;
	}
	.blogCommentPostBox table td,
	#mailform_form table td,
	form table td {
		width: 100%;
		display: block;
		white-space: normal;
		border-top: 0px;
		border-bottom: 0px;
		//border-left: 1px solid #ccc;
		//border-right: 1px solid #ccc;
		border: none;
		padding: 10px 0;
	}
	.blogCommentPostBox table,
	#mailform_form table,
	form table {
		//border-bottom: 1px solid #ccc;
		border: none;
	}
}



/* btn-lg */
.btn-lg {
    border-radius: 6px !important;
    font-size: 18px !important;
    line-height: 1.33333 !important;
    padding: 10px 16px !important;
}